<% include layout/top.ejs %>
<script>
  function updateRow(id) {
    var serviceUpdate = document.getElementsByClassName('serviceupdate');
    var serviceStatus = document.getElementsByClassName('servicestatus');
    for (var i = serviceStatus.length - 1; i >= 0; i--) {
      serviceStatus[i].className = serviceStatus[i].className.replace('show', 'hide');
    }
    for (var i = serviceUpdate.length - 1; i >= 0; i--) {
      serviceUpdate[i].className = serviceUpdate[i].className.replace('hide', 'show');
    }
    var thisStatus = document.getElementById('status-' + id)
    var thisUpdate = document.getElementById('update-' + id)
    thisStatus.className += ' hide'
    thisUpdate.className = thisUpdate.className.replace('hide', 'show')
  }
</script>
<div class="breadcrumbs breadcrumb-two-thirds">
  <ol>
    <li><a href="/account/<%= journey %>">Home</a></li>
    <li>Manage Enrolment Requests</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-full">
    <% if (errorMessage) { %>
    <%- include partials/errorBox.ejs %>
    <% } %>
    <h3 class="heading-large">Manage your enrolment requests</h3>
    <% if (enrolments === 0) { %>
    <p class="govuk-body">You don't have any enrolment requests for <%= serviceName %></p>
    <% } else { %>
    <table class="govuk-table">
      <thead>
        <tr>
          <th>Organisation</th>
          <th>Service</th>
          <th>Enrolment Type</th>
          <th>Enrolment Status</th>
        </tr>
      </thead>
      <%- include partials/serviceChanger.ejs %>
    </table>
    <% } %>
  </div>
</div>
</main>
