<% Object.keys(serviceLookup).forEach((thisKey)=>{ %>
  <option value="<%= thisKey %>" <% if (journey && thisKey === journey){%> selected="selected" <%}%> ><%= serviceLookup[thisKey].serviceName %></option>
<% }); %>
