    <% Object.keys(serviceLookup).forEach((thisKey)=>{ %>
        <option journey="<%= thisKey %>" value="<%= serviceLookup[thisKey].serviceId %>"><%= serviceLookup[thisKey].serviceName %></option>
    <% }) %>
