<% services.forEach((service)=>{ %>
<tr>
  <td><%= service.accountName %></td>
  <td><%= service.enrolmentType %></td>
  <td><%= service.status %></td>
  <td><%= service.connectionType %></td>
</tr>
<% }) %>
